@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #019587, #005148);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2a4441c4;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #019587;
    text-align: center;
    text-shadow: 1px 1px 2px #02534b88;
}

h2{
    color: #01415B;
}

p {
    text-align: justify;
}